<h1>To Do:</h1>
	<h2><%= @item.name %></h2>
	<h3><%= @item.description %></h3>
	<h3><%= "Priority" %>: <%= @item.priority %></h3>
	<h3><%= "Completed" %>: <%= @item.complete %></h3>
<%= link_to 'Back', items_path %>
<%= link_to 'Edit', edit_item_path(@item) %>
